/* Fontes e @font-face */
    @font-face {
      font-family: 'IconicFill';
      src: url('../iconic_fill.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    .lobster-regular {
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .press-start-2p {
      font-family: 'Press Start 2P', cursive;
    }

    /* Reset e estilos base */
    figure {
      position: relative;
    }

    img {
      display: block;
    }

    figcaption {
      background-color: #000;
      background-color: rgba(0, 0, 0, 0.5);
      color: #FFF;
      bottom: 5px;
      margin: 0 5px;
      padding: 5px;
      position: absolute;
      width: 300px;
    }

    ul {
      border: 1px solid rgba(0, 0, 0, 0.3);
      list-style: none;
      display: flex;
      /* Flexbox é melhor para alinhar itens */
      justify-content: center;
      /* Centraliza os itens internamente */
      background-color: violet;
      color: white;
      padding: 0;
      margin: 20px auto;
      /* Centraliza a caixa da lista */
      max-width: 220px;
      /* Limita o tamanho sem travar */
    }

    li {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      display: inline-block;
      line-height: 35px;
      font-size: 0.9em;
      width: 50px;
      text-align: center;
    }

    li:first-child {
      border-left: none;
    }

    li:last-child {
      border-right: none;
    }

    /* Componentes estruturais */
    .centralizado {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      margin-top: 20px;
    }

    .tnt {
      border-radius: 50%;
      border: 5px solid #000;
      height: 50px;
      line-height: 50px;
      width: 50px;
    }

    .counter {
      background-color: #000;
      border-top-left-radius: 25px 10px;
      border-top-right-radius: 25px 10px;
      color: white;
      display: block;
      font-size: 1.7em;
      height: 50px;
      width: 50px;
    }

    .div-cloud {
      background-color: #000;
      width: 50px;
      height: 10px;
      padding: 20px 50px;
    }


    .icon {
      width: 50px;
    }

    .cloud {
      background-color: #FFF;
      border-radius: 48px;
      display: inline-block;
      height: 16px;
      position: relative;
      width: 48px;
    }

    .cloud::before,
    .cloud::after {
      background-color: #FFF;
      border-radius: 50%;
      content: '';
      position: absolute;
    }

    .cloud::before {
      height: 14px;
      right: 7px;
      top: -6px;
      width: 14px;
    }

    .cloud::after {
      height: 23px;
      left: 7px;
      top: -10px;
      width: 23px;
    }

    /* Ícones e pseudo-elementos */
    .icon-next::after {
      content: '\2192';
      font-family: 'IconicFill';
      margin-left: 10px;
    }

    h1.icon-next {
      color: blue;
    }

    .icon-ok {
      color: #489D00;
    }

    .icon-ok::before {
      content: "\2714";
      font-family: 'IconicFill';
      margin-right: 10px;
    }

    .icon-invalid {
      color: #990000;
    }

    .icon-invalid::before {
      content: "\2718";
      font-family: 'IconicFill';
      margin-right: 10px;
    }

    /* Cores em gradiente */
    .div-gradient {
      font-weight: bold;
      height: 50px;
      line-height: 25px;
      margin-bottom: 10px;
      padding: 5px;
      text-align: center;
      width: 220px;
    }

    .blue {
      background-color: #4377FA;
      /* A cor superior do gradiente como fundo */
      background-image: linear-gradient(to bottom, #4377FA, #0537B7);
    }

    .reverse-blue {
      background-image: linear-gradient(to bottom, #0537B7, #4377FA);
    }

    .omg-pink {
      background-image: linear-gradient(to bottom left, #FC0050, #FF79A3);
    }

    .stops {
      background-image: linear-gradient(to bottom, #F5B951 48%, #F2A31C 56%);
    }
