p {
  background-color: LimeGreen;
  /* clear: both; */
}

.clear {
  clear: both;
}

span {
  background-color: LightBlue;
  display: inline-block;
  margin-bottom: 10px;
}

.h2-float {
  float: left;
  margin: 0 20px 20px 0;
}

h4 {
  margin-top: 5px;
}

img {
  float: left;
  margin-right: 10px;
}

.posts {
  float: left;
  width: 600px;
}

.titulo-do-post {
  float: left;
  margin: 0 0 20px;
}

.timestamp {
  background-color: #000;
  color: #FFF;
  float: right;
  font-size: 0.9em;
  margin-top: 10px;
  padding: 5px 10px;
}

aside {
  background-color: #FFFBE4;
  border: 1px solid #C9BC8F;
  float: right;
  padding: 10px;
  width: 200px;
}

aside h3 {
  margin: 0;
}

.page {
  background-color: #E8E8E8;
  padding: 10px;
  margin: 0 auto;
  width: 940px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.box {
  background-color: PapayaWhip;
  height: 100px;
  width: 100px;
  position: relative;
  top: 30px;
  left: 5px;
}

.absolute {
  background-color: LightBlue;
  position: absolute;
  top: 20px;
  right: 30px;
}

.notice {
  background-color: #FFF;
  border: 1px solid #000;
  height: 120px;
  padding: 10px;
  width: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -200px;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.notice,
.overlay {
  display: none;
}

.notice .close {
  background-color: #FF1A2D;
  color: #FFF;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  position: relative;
}
